In [1]:
from util import competence, dataset
import pandas as pd

In [2]:
df = competence.load_dataset()
docs = dataset.create(preprocess=lambda x: x)

In [3]:
len(docs)

357

In [4]:
len(df)

325

In [5]:
df

                                                   text week annot1        \
                                                              comp1 comp2
id
93    Aconteceu uma coisa estava chuvendo umas chuva...    1      4     4
94    nesse dia eu encontrei um diamante ele e muito...    1      3     3
95    \tEu e Pedro estava em casa depois nos foi par...    1      2     3
97    \tEm um dia normal no meu quintal tava\nchoven...    1      4     3
99    Aquele dia chovia muito, estava tendo muitos t...    1      4     3
...                                                 ...  ...    ...   ...
2080  [T] As tintas\n[X] tenho una susPeito de quem ...    7      3     3
3101  [T] O menino e A suar [X] lha [X]  \num belo d...    7      1     1
3222  [T] Menina Desenhista\nEra uma vez uma menina ...    7      4     3
2813  [T] o desenho perfeito\n[P] Um certo dia Julis...    7      5     3
3429  meu ırmã mais novo tinha desarrumado\nmeu quar...    7      3     3

                 annot2
     comp3 comp4  comp1 comp2 comp3 comp4
id
93       4     4      3     3     4     3
94       3     3      3     2     3     2
95       3     2      3     2     3     2
97       4     4      3     3     3     3
99       3     4      3     3     3     3
...    ...   ...    ...   ...   ...   ...
2080     4     3      2     2     3     2
3101     4     2      2     1     3     2
3222     4     3      4     3     4     4
2813     4     3      4     2     4     4
3429     4     3      2     2     4     2

[325 rows x 10 columns]

In [6]:
df.duplicated()

id
93      False
94      False
95      False
97      False
99      False
        ...
2080    False
3101    False
3222    False
2813    False
3429    False
Length: 325, dtype: bool

In [7]:
df.columns

MultiIndex([(  'text',      ''),
            (  'week',      ''),
            ('annot1', 'comp1'),
            ('annot1', 'comp2'),
            ('annot1', 'comp3'),
            ('annot1', 'comp4'),
            ('annot2', 'comp1'),
            ('annot2', 'comp2'),
            ('annot2', 'comp3'),
            ('annot2', 'comp4')],
           )

In [8]:
duplicates = df[df.duplicated(subset=('text', ''), keep=False)].sort_values('text')
duplicates.columns = ['_'.join(level) for level in duplicates.columns]
duplicates = duplicates.rename(columns={'text_': 'text', 'week_': 'week'})
duplicates.text

id
648     [T] A historia da tinta\n\n[P] E do nada a min...
973     [T] A historia da tinta\n\n[P] E do nada a min...
364     [T] Júlia pintando o Quarto\n[P] Júlia ela est...
870     [T] Júlia pintando o Quarto\n[P] Júlia ela est...
680     [T]As minhas tintas\nera Uma vez umas Menina Q...
1015    [T]As minhas tintas\nera Uma vez umas Menina Q...
Name: text, dtype: object

In [9]:
duplicates.to_csv('data/duplicados.csv', index=False)

In [10]:
docs_df = pd.DataFrame([d.text for d in docs], columns=['text'])
docs_df

                                                  text
0    Aconteceu uma coisa estava chuvendo umas chuva...
1    nesse dia eu encontrei um diamante ele e muito...
2    \tEu e Pedro estava em casa depois nos foi par...
3    Mais eu não sabia si ela era rara mais eu pegu...
4    \tEm um dia normal no meu quintal tava\nchoven...
..                                                 ...
352  [T] As tintas\n[X] tenho una susPeito de quem ...
353  [T] O menino e A suar [X] lha [X]  \num belo d...
354  [T] Menina Desenhista\nEra uma vez uma menina ...
355  [T] o desenho perfeito\n[P] Um certo dia Julis...
356  meu ırmã mais novo tinha desarrumado\nmeu quar...

[357 rows x 1 columns]

In [11]:
docs_df[docs_df.duplicated('text', keep=False)].sort_values('text')

                                                  text
274  [T] A historia da tinta\n\n[P] E do nada a min...
346  [T] A historia da tinta\n\n[P] E do nada a min...
159  [T] Júlia pintando o Quarto\n[P] Júlia ela est...
351  [T] Júlia pintando o Quarto\n[P] Júlia ela est...
306  [T]As minhas tintas\nera Uma vez umas Menina Q...
335  [T]As minhas tintas\nera Uma vez umas Menina Q...

In [12]:
trans = pd.read_csv('data/annotation_align.csv')

In [17]:
td = trans[trans.duplicated('annotation', keep=False)].sort_values('annotation')
td
# trans_d.to_csv('data/transcrições-duplicadas.csv', index=False)

,url,annotation
1107,https://storage.googleapis.com/scanner-prova.a...,( O chorrinho nino )\n-\nEu e...
1108,https://storage.googleapis.com/scanner-prova.a...,( O chorrinho nino )\n-\nEu e...
301,https://storage.googleapis.com/scanner-prova.a...,.As meninas do potes de Tintas [T]\nUma vez eu...
3225,https://storage.googleapis.com/scanner-prova.a...,.As meninas do potes de Tintas [T]\nUma vez eu...
3200,https://storage.googleapis.com/scanner-prova.a...,.Eu Vou chamar a Thayla pra brincar de pintura...
...,...,...
3611,https://storage.googleapis.com/scanner-prova.a...,um dia eu estava na\nmeu quarto e achei uma ca...
464,https://storage.googleapis.com/scanner-prova.a...,um dia eu tava Pintando e Meu Gato [S]\nPizo N...
3390,https://storage.googleapis.com/scanner-prova.a...,um dia eu tava Pintando e Meu Gato [S]\nPizo N...
3167,https://storage.googleapis.com/scanner-prova.a...,viagem [?] [?] [?] \nTudo [?] [?] Mararrinhase...
243,https://storage.googleapis.com/scanner-prova.a...,viagem [?] [?] [?] \nTudo [?] [?] Mararrinhase...

In [41]:
tdc = td.groupby('annotation').count().reset_index()
# tdc.iloc[tdc.url.argmax()]
tdc.sort_values('url', ascending=False)

                                            annotation  url
107                                                [?]   56
784  [T]Pentando meu quarto\nEra uma vez um dia tav...    4
203  [T] (as tintas e as princesas )\n[P] e eu tava...    4
657  [T] o menino que [?]\nera uma ves um menino e ...    4
884  eu encontrei em cima da armaria alguns\nPotes ...    4
..                                                 ...  ...
317  [T] A pintura desaparecida\n\n[P] Eu achei em ...    2
318  [T] A pintura desaparecida\nEu achei em cima d...    2
319  [T] A pintura desaparecida\nEu achei em cima d...    2
320  [T] A pintura desaparecida\nEu achei em cima d...    2
916  viagem [?] [?] [?] \nTudo [?] [?] Mararrinhase...    2

[917 rows x 2 columns]